<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Housing Post Feed</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) taken from other template-->
    <link href="styles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/">hmsweethm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/submitHousingPost">Submit Housing</a> </li>
                <li class="nav-item"><a class="nav-link" href="/submitTopic">Submit Topic</a></li>
                <li class="nav-item"><a class="nav-link" href="/housingPostFeed">Housing</a></li>
                <li class="nav-item"><a class="nav-link" href="/topicFeed">Topic</a></li>
                <li class="nav-item"><a class="nav-link" href="/save" >Saved</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile" >Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/map" >Map</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
            </ul>
            </ul>
        </div>
    </div>
</nav>

    <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-dark rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-1 fw-bold">Housing Feed</h1>
                        <p class="fs-4">a place to search all your housing needs</p>
                    </div>
                    <div class="row">
                  <div class="col">
                    <form action="/zipcodesHousing" method="post">
                      <label for="zipcodesHousing">zipcode</label>
                        <select name="zipcodesHousing" id="zipcodesHousing" size="4" multiple>
                          <option selected disabled>zipcode</option>
                          <!-- use this same block of code on the feeds and the sign in and topic page -->
                        <% for(let i = 0; i < zipcodes.length; i++) {%>
                          <option value="<%= zipcodes[i] %>"><%= zipcodes[i] %></option>
                        <% }%>  
                      </select>
                      <br><br>
                      <input type="submit" value="Submit">
                    </form>
                  </div>
                  <div class="col">
                    <form action="/neighorhoodsHousing" method="post">
                      <label for="neighorhoodsHousing">neighborhood</label>
                        <select name="neighorhoodsHousing" id="neighborhoodsHousing" size="4" multiple>
                          <option selected disabled>neighborhood</option>
                          <!-- use this same block of code on the feeds and the sign in and topic page -->
                        <% for(let i = 0; i < neighborhoods.length; i++) {%>
                          <option value="<%= neighborhoods[i] %>"><%= neighborhoods[i] %></option>
                        <% }%>  
                      </select>
                      <br><br>
                      <input type="submit" value="Submit">
                    </form>
                  </div>
            
                </div>
                </div>
                
            </div>
        </header>
  <!-- <div class="container"> -->


    <section class="pt-4">
      <div class="container px-lg-5">
          <!-- Page Features-->
          <div class="row gx-lg-5">
            <% for(var i=0; i<housingPosts.length; i++) {%>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-dark border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                          <a href="/housingPost?id=<%=housingPosts[i]._id%>"><h4><%= housingPosts[i].title %></h4></a>

                          <a href="/otherUserProfile/<%= housingPosts[i].userId %>"><span><%= housingPosts[i].userName %></span></a>

                          <p><%= housingPosts[i].neighborhood %></p>
                          <p><%= housingPosts[i].zipcode %></p>
                          
                          <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                          <p><%= housingPosts[i].datePostedBy.toLocaleDateString("en-US", options)  %></p>  
                          <span><i data-id="<%= housingPosts[i]._id %>" class="fa save-housing fa-save" aria-hidden="true"></i></span>
                          <% if ( housingPosts[i].userId.equals(user._id)) { %>
                            <span><i data-id="<%= housingPosts[i]._id %>" class="fa housing-trash fa-trash" aria-hidden="true"></i></span>
                          <% } %>
                      </div>
                  </div>
              </div>
              <% } %>
            </div>
        </div>
    </section>
            

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->

  <!-- </div> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="main.js"></script>

</body>
</html>
