<!doctype html>
<html>
<head>
    <title>Housing Post Feed</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav>
    <h1>HOMEPAGE</h1>
    <a href="/submitHousingPost">submit housing</a> 
    <a href="/submitTopic">submit topic</a> 
    <a href="/profile">profile</a> 
    <a href="/housingPostFeed">housingFeed</a> 
    <a href="/topicFeed">topicFeed</a> 
    <a href="/logout" >Logout</a>
    <a href="/save" >savedPage</a>
    <a href="/login" >Login</a>
  </nav>

<div class="container">

    <div class="page-header text-center">
        <h2><span class="fa fa-home"></span> Housing Post Feed</h2>
    </div>

    <div>
      <p>search by zipcode</p>
      <form action="/zipcodes" method="post">
        <label for="zipcodes">choose a zipCode</label>
          <select name="zipcodes" id="zipcodes" size="4" multiple>
            <option selected disabled>zipcode</option>
            <!-- use this same block of code on the feeds and the sign in and topic page -->
          <% for(let i = 0; i < zipcodes.length; i++) {%>
            <option value="<%= zipcodes[i] %>"><%= zipcodes[i] %></option>
          <% }%>  
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
      
      <p>search by neighborhood</p>
    </div>

    <!-- <label for="cars">Choose a car:</label>

<select name="cars" id="cars" multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select> -->

    <div class="holdingSector">
      
        <div class="feed">
          
          <% for(var i=0; i<housingPosts.length; i++) {%>
            <section class="individualPosting">
              <a href="/otherUserProfile/<%= housingPosts[i].userId %>"><h4>name : <%= housingPosts[i].userName %></h4></a>
              <!-- <h4>name : <%# housingPosts[i].userName %></h4> -->
              
              <a href="/housingPost?id=<%=housingPosts[i]._id%>"><span><%= housingPosts[i].title %></span></a>
              <p><%= housingPosts[i].neighborhood %></p>
              
              <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
              <p><%= housingPosts[i].datePostedBy.toLocaleDateString("en-US", options)  %></p>  
              <span><i data-id="<%= housingPosts[i]._id %>" class="fa save-housing fa-save" aria-hidden="true"></i></span>
              <% if ( housingPosts[i].userId.equals(user._id)) { %>
                <span><i data-id="<%= housingPosts[i]._id %>" class="fa housing-trash fa-trash" aria-hidden="true"></i></span>
              <% } %>
            </section>

         <% } %>
        </div>
         
    </div>

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->

</div>

<script src="main.js"></script>

</body>
</html>
