<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>other user profile</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) taken from other template-->
    <link href="/styles.css" rel="stylesheet" />
    <!-- individual styling -->
    <link href="/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/">homepage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/submitHousingPost">Submit Housing</a> </li>
                <li class="nav-item"><a class="nav-link" href="/submitTopic">Submit Topic</a></li>
                <li class="nav-item"><a class="nav-link" href="/housingPostFeed">Housing</a></li>
                <li class="nav-item"><a class="nav-link" href="/topicFeed">Topic</a></li>
                <li class="nav-item"><a class="nav-link" href="/save" >Saved</a></li>
                <li class="nav-item"><a class="nav-link" href="/map" >Map</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile" >Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
            </ul>
            </ul>
        </div>
    </div>
  </nav>
    <!-- chats will be changed to user posts and info like reach out if you need help with housing or whatever? -->

    <div class="profileBlock text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

        <div class="container userStatus">
          <h6>userStatus</h6>

                <%# if (chat.userId.equals(user._id)) {%> 
                
                
                <% if (chat && chat.userId) {%>
                <div class="row cssForRow">
                  <section class="col cssForCol">
                    <label>userName</label>
                    <p><%= chat.userName %> </p>
                  </section>
                  <section class="col cssForCol">
                    <label>housing status</label>
                    <p><%= chat.housingStatus %> </p>
                  </section>
                  <section class="col cssForCol">
                    <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                    <label>datePostedBy</label>
                    <p> <%= chat.datePostedBy.toLocaleDateString("en-US", options) %> 
                    </p>
                  </section>
                <% } else { %>
                  <p class="col cssForCol"> user has not placed a status, yet.</p>
                  <% } %>
                </div>

                <form class="row cssForRow" action="/offers" method="post">
                  <input type="hidden" value="<%= chat.userId %>" name="intendedFor">
                  <input type="hidden" value="<%= loggedInUser._id %>" name="postedBy">
                  <input type="hidden" value="<%= loggedInUser.local.email %>" name="userEmail">
                  <div class=" col  cssForCol nameProfile form-group">
                    <label>name</label>
                    <input type="text" class="form-control" value="<%= loggedInUser.userName %>" name="userName" />
                  </div>
                  <div class=" col  cssForCol nameProfile form-group">
                    <label for="offersSent">what are you offering:</label>
                    <select name='offersSent' id="offersSent">
                    <optgroup label="needsHousing">
                        <option value="needs shortTerm">needs shortTerm</option>
                        <option value="needs longTerm">needs longTerm</option>
                        <option value="needs temporary">needs temporary</option>
                    </optgroup>
                    <optgroup label="offeringHousing">
                        <option value="offering shortTerm">offering shortTerm</option>
                        <option value="offering longTerm">offering longTerm</option>
                        <option value="offering temporary">offering temporary</option>
                    </optgroup>
                    <option>neither</option>
                      </select>
                  </div>
                  
                  <div class=" col cssForCol datePosted form-group">
                    <label>date Posted By</label>
                    <input type="date" class="form-control" name="datePostedBy" />
                  </div>
                  <div class=" col cssForCol form-group">
                    <label>more direct contact? put it below</label>
                    <input type="text" class="form-control" name="contact" />
                  </div>
                  <button type="submit" class=" btn btn-primary">Submit</button>
                </form>
            </div>

          
               
     
        </div>    
                    

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/main.js"></script> -->

</body>
</html>

