<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                       
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <a href="/landingPage" class="btn btn-default">to landing Page</a>

                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h6>Messages</h6>
          <ul class="messages">
          <% for(var i=0; i<housingPosts.length; i++) {%>
            <li class="message">
              <span>name : <%= housingPosts[i].name %></span>
              <span>titled : <%= housingPosts[i].title %></span>
              <span> datePostedBy: <%= housingPosts[i].datePostedBy %></span>
              <span> msg: <%= housingPosts[i].msg %></span>
              <span> <%= housingPosts[i].thumbUp %></span>
             
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

    
          <h6>Add a message</h6>
          <% if (user.local.email) { %>
          <form action="/chatSubmitted" method="POST">
            <input type="text" value="<%= user.userName %>" name="name">
            <input type="text" placeholder="title" name="title">
            <!-- make this an options tag with a select drop down with locations -->
            <input type="text" placeholder="neighborhood" name="neighborhood">
            <input type="text" placeholder="message" name="msg">
            <input type="date" placeholder="date posted by" name="datePostedBy">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
        
    </div>

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->

</div>

<button><a href="/submitHousingPost">housing post</a></button>
<button><a href="/submitTopic">topic submission</a></button>
<button><a href="/topicPost">go to invididual topic page</a></button>
<button><a href="/housingPost">go to individual post page</a></button>

<script src="main.js"></script>

</body>
</html>
