<!doctype html>
<html>
<head>
    <title>hmpg profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <h1>HOMEPAGE</h1>
    <a href="/submitHousingPost">submit housing</a> 
    <a href="/submitTopic">submit topic</a> 
    <a href="/profile">profile</a> 
    <a href="/housingPostFeed">housingFeed</a> 
    <a href="/topicFeed">topicFeed</a> 
    <a href="/logout" >Logout</a>
    <a href="/save" >savedPage</a>
    <a href="/login" >Login</a>
  </nav>

    


  <div class="profileBlock text-center">
           <div>
              <h2><span class="fa fa-id-badge"></span> Profile </h2>
          </div> 

              <% if (user.local.email) { %>
                <p>
                    <strong>name</strong>: <%= user.userName%><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                   
                </p>

              <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

  </div>

<!-- get all the boxes to center the page, round the edges of the boxes -->
        <div class="container userStatus">
          <h6>chats for the day!</h6>
              
                <% if(chatSubmitted.userId) {%>

                <% console.log(chatSubmitted.userId) %>
                <% if (chatSubmitted.userId.equals(user._id)  ) {%> 

                <div class="row cssForRow">
                   <section class="col cssForCol">
                    <label>userName</label>
                     <p><%= chatSubmitted.userName %></p> </section>
                   <section class="col cssForCol">
                    <label>housing status</label>
                     <p><%= chatSubmitted.housingStatus %></p> </section>
                  <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                   <section class="col cssForCol">
                    <label>datePostedBy</label>
                     <p><%= chatSubmitted.datePostedBy.toLocaleDateString("en-US", options) %></p> </section>
                  <!--  <section></p><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span></p> </section>-->
                </div>
                <% } %>
              
                  <!-- <p>you've added nothing</p> -->
              <% } else { %>

                <p>you've entered nothing</p>
                
                <% } %>


               <h6>submit your update</h6>
          <% if (user.local.email) { %>


          <form class="row cssForRow" action="/chatSubmitted" method="post">
            <input type="hidden" value="<%= user._id %>" name="userId">
            <div class=" col  cssForCol nameProfile form-group">
              <label>name</label>
              <input type="text" class="form-control" value="<%= user.userName %>" name="userName" />
            </div>
            <div class=" col cssForCol housingStatus form-group">
              <label for="housingType">looking for housing?</label>
  
              <select name="housingStatus" id="housingStatus">
                <option value="yes">yes</option>s
                <option value="no">no</option>
                <option value="temporary">temporary</option>
                <option value="short term">short term</option>
                <option value="longterm">longterm</option>
              </select>
            </div>
            <div class=" col cssForCol datePosted form-group">
              <label>date Posted By</label>
              <input type="date" class="form-control" name="datePostedBy" />
            </div>
            
            
          </form>
    <button type="submit">Submit</button>
        </div>
<!-- 
        <div class="container submitStatus"> -->
       
        
        <% } %>
        <!-- </div> -->

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->
    <script src="main.js"></script>

</body>
</html>
