<!doctype html>
<html>
<head>
    <title>hmpg profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav>
    <h1>HOMEPAGE</h1>
    <button><a href="/submitHousingPost">submit housing</a></button>
    <button><a href="/submitTopic">submit topic</a></button>
    <button><a href="/profile">profile</a></button>
    <!-- <button><a href="/topicPost">go to invididual topic page</a></button>
    <button><a href="/housingPost">go to individual post page</a></button> -->
    <button><a href="/housingPostFeed">housingFeed</a></button>
    <button><a href="/topicFeed">topicFeed</a></button>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/save" class="btn btn-default btn-sm">savedPage</a>
    <a href="/login" class="btn btn-default btn-sm">Login</a>
  </nav>
    <!-- chats will be changed to user posts and info like reach out if you need help with housing or whatever? -->

    <div class="text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


        <div class="profileBlock">
            <h3><span class="fa fa-user"></span> Local</h3>

            <% if (user.local.email) { %>
                <p>
                    <strong>name</strong>: <%= user.userName%><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                   
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <a href="/landingPage" class="btn btn-default">to landing Page</a>

            <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

        </div>


        <div class="submitChats">
          <h6>chats for the day!</h6>
          <% for(var i=0; i<chatSubmitted.length; i++) {%>

            <table>
                <tr>
                  <th>userName</th>
                  <th>title</th>
                  <th>datePostedBy</th>
                  <th>msg</th>
                  <th>likes/dislike</th>

                </tr>
                <tr>
                  <td><%= chatSubmitted[i].userName %></td>
                  <td><%= chatSubmitted[i].title %></td>
                  <td><%= chatSubmitted[i].datePostedBy %></td>
                  <td><%= chatSubmitted[i].msg %></td>
                  <td><span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span></td>
                </tr>
              </table>
          <% } %>
    
          <h6>submit your update</h6>
          <% if (user.local.email) { %>
          <form action="/chatSubmitted" method="POST">
            <input type="text" value="<%= user.userName %>" name="name">
            <input type="hidden" value="<%= user._id %>" name="userId">
            <input type="text" placeholder="title" name="title">
            <!-- make this an options tag with a select drop down with locations
            <input type="text" placeholder="neighborhood" name="neighborhood"> -->
            <input type="text" placeholder="message" name="msg">
            <input type="date" placeholder="date posted by" name="datePostedBy">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
        

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->
    <script src="main.js"></script>

</body>
</html>
