<!doctype html>
<html>
<head>
    <title>SavePage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav>
    <h1>HOMEPAGE</h1>
    <a href="/submitHousingPost">submit housing</a> 
    <a href="/submitTopic">submit topic</a> 
    <a href="/profile">profile</a> 
    <a href="/housingPostFeed">housingFeed</a> 
    <a href="/topicFeed">topicFeed</a> 
    <a href="/logout" >Logout</a>
    <a href="/save" >savedPage</a>
    <a href="/login" >Login</a>
  </nav>

<div class="container">

    <div class="page-header text-center">
        <h2><span class="fa fa-home"></span> SAVED POSTS!</h2>
    </div>

    <div class="holdingSector">
      
        <div class="col feed">
          <h2>saved Housing</h2>
          <% for(var i=0; i<housingPosts.length; i++) {%>
            <section class="individualPosting">
              <a href="/otherUserProfile/<%= housingPosts[i].userId %>"><h4>name : <%= housingPosts[i].userName %></h4></a>
              <a href="/housingPost?id=<%=housingPosts[i]._id%>"><span><%= housingPosts[i].title %></span></a>
              <p><%= housingPosts[i].neighborhood %></p>
              
              <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                <p><%= housingPosts[i].datePostedBy.toLocaleDateString("en-US", options)  %></p>
              <span><i data-id="<%= housingPosts[i]._id %>" class="fa save-housing fa-save" aria-hidden="true"></i></span>
                <span><i data-id="<%= housingPosts[i]._id %>" class="fa remove-saved-housing fa-trash" aria-hidden="true"></i></span>

            </section>

         <% } %>
        </div>


        <div class="col feed">
          <h2>saved Topics</h2>
          <% for(var i=0; i<topic.length; i++) {%>
            <section class="individualPosting">
              <a href="/otherUserProfile/<%= topic[i].userId %>"><h4><%= topic[i].userName %></h4></a>
              <a href="/topicPost?id=<%=topic[i]._id%>"><span><%= topic[i].title %></span></a>
              <p><%= topic[i].neighborhood %></p>
              
              <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                <p><%= topic[i].datePostedBy.toLocaleDateString("en-US", options)  %></p>
              <span><i data-id="<%= topic[i]._id %>" class="fa save-housing fa-save" aria-hidden="true"></i></span>
              <span><i data-id="<%= topic[i]._id %>" class="fa remove-saved-topic fa-trash" aria-hidden="true"></i></span>
              
            </section>

         <% } %>
        </div>
         
    

          <!-- so the profile section will have your saved housing posts, AND saved message board posts.  and other information to put in-->

  </div>
</div>


<script src="main.js"></script>

</body>
</html>
