<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hmswthm sign up</title>
     <!-- Bootstrap icons-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
     <!-- Core theme CSS (includes Bootstrap) taken from other template-->
     <link href="styles.css" rel="stylesheet" />
     <link href="style.css" rel="stylesheet" />
     <link href="logSign.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-lg-5">
          <a class="navbar-brand" href="/">homepage</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" href="/submitHousingPost">Submit Housing</a> </li>
                  <li class="nav-item"><a class="nav-link" href="/submitTopic">Submit Topic</a></li>
                  <li class="nav-item"><a class="nav-link" href="/housingPostFeed">Housing</a></li>
                  <li class="nav-item"><a class="nav-link" href="/topicFeed">Topic</a></li>
                  <li class="nav-item"><a class="nav-link" href="/save" >Saved</a></li>
                  <li class="nav-item"><a class="nav-link" href="/map" >Map</a></li>
                  <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
                  <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
              </ul>
              </ul>
          </div>
      </div>
  </nav>
    <div class="container">
      <div class="infoBlock col-sm-6 col-sm-offset-3">
       

        <div class="profileBlock">
          <h2><span class="fa fa-sign-in"></span> Signup</h2>
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        
          <!-- LOGIN FORM -->
          <form action="/signup" method="post">
            
            <div class="form-group">
              <label>UserName</label>
              <input type="text" class="form-control" name="userName" />
            </div>
            <div class="form-group">
              <label>firstName</label>
              <input type="text" class="form-control" name="firstName" />
            </div>
            <div class="form-group">
              <label>lastName</label>
              <input type="text" class="form-control" name="lastName" />
            </div>
            <div class="form-group">
              <label>birthday</label>
              <input type="date" class="form-control" name="birthDate" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <!-- fpr the addres -->
            <div class="form-group">
              <label>address</label>
              <input type="text" id="enterLocation" class="form-control" name="address" />
            </div>
            <!-- for the city -->
            <div class="form-group">
              <label>city</label>
              <input type="text" class="form-control" name="city" />
            </div>

            <div class="form-group">
              <label for="state">state</label>
              <input type="text" class="form-control" name="state" />
            </div>

            <div class="form-group">
              <label for="neighborhood">Neighborhood</label>
            
              <select name="neighborhood" id="neighborhood" size="4">
                <option selected disabled>neighborhood</option>
                <!-- use this same block of code on the feeds and the sign in and topic page -->
              <% for(let i = 0; i < neighborhoods.length; i++) {%>
                <option value="<%= neighborhoods[i] %>"><%= neighborhoods[i] %></option>
              <% }%>  
              </select>
          
            </div>

            <!-- for zipcode -->
            <div class="form-group">
              <label>zipcode</label>
              <select name="zipcode" id="zipcode" size="4">
                <option selected disabled>neighborhood</option>
                <!-- use this same block of code on the feeds and the sign in and topic page -->
              <% for(let i = 0; i < zipcodes.length; i++) {%>
                <option value="<%= zipcodes[i] %>"><%= zipcodes[i] %></option>
              <% }%>
              </select> 
            </div>
            
            

            <button class="newBtn" type="submit" class="btn btn-warning btn-lg">Signup</button>

            
          </form>

      </div>
    </div>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACHO3kyJ5MrGqVxl-4stvK2NXQM6SJFyE&libraries=places"
    ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="main.js"></script>
  </body>
</html>
