<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Housing Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) taken from other template-->
    <link href="/styles.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-lg-5">
          <a class="navbar-brand" href="/">hmsweethm</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" href="/submitHousingPost">Submit Housing</a> </li>
                  <li class="nav-item"><a class="nav-link" href="/submitTopic">Submit Topic</a></li>
                  <li class="nav-item"><a class="nav-link" href="/housingPostFeed">Housing</a></li>
                  <li class="nav-item"><a class="nav-link" href="/topicFeed">Topic</a></li>
                  <li class="nav-item"><a class="nav-link" href="/save" >Saved</a></li>
                  <li class="nav-item"><a class="nav-link" href="/profile" >Profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="/map" >Map</a></li>
                  <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
                  <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
              </ul>
              </ul>
          </div>
      </div>
  </nav>

    <div class="container">
      
        <div class="profileBlock">
          <h2> got some housing for us?</h2>
        </div>
        <form action="/submitHousingPost" enctype="multipart/form-data" method="post">
        <div class="row cssForRow">
            <div class="col cssForCol form-group">
              <label>UserName</label>
              <input type="text" class="form-control" name='userName' value="<%= user.userName%>" />
              <input type="hidden" value="<%= user._id %>" name="userId">
            </div>
            <div class="col cssForCol form-group">
              <label>city</label>
              <input type="text" class="form-control" name="city" />
            </div>
            <div class="col cssForCol  form-group">
              <label>date Posted By</label>
              <input type="date" class="form-control" name="datePostedBy" />
            </div>
        </div>

        <div class="row cssForRow">
          <div class=" col cssForCol  form-group">
            <label>zipcode</label>
            <select name="zipcode" id="zipcode" size="4">
              <option selected disabled>zipcode</option>
              <!-- use this same block of code on the feeds and the sign in and topic page -->
          <% for(let i = 0; i < zipcodes.length; i++) {%>
              <option value="<%= zipcodes[i] %>"><%= zipcodes[i] %></option>
          <% }%>  
          </select>
          </div>
          <div class=" col cssForCol  form-group">
            <label for="neighborhood">Neighborhood</label>
          
            <select style="display:block;
            margin: auto;" name="neighborhood" id="neighborhood" size="4">
              <option selected disabled>neighborhood</option>
              <!-- use this same block of code on the feeds and the sign in and topic page -->
          <% for(let i = 0; i < neighborhoods.length; i++) {%>
              <option value="<%= neighborhoods[i] %>"><%= neighborhoods[i] %></option>
          <% }%>  
          </select>
        
          </div>
        </div>
        <div class="row cssForRow">
          <div class="col cssForCol form-group">
            <label>address</label>
            <input type="text" id="enterLocation" class="form-control" name="fullAddress" />
          </div>
          
          <div class="col cssForCol  form-group">
            <label for="housingType">Choose a housingType:</label>

            <select style="display:block;
            margin: auto;" name="housingType" id="housingType" required>
              <option value="longterm">longterm (1yr+)</option>
              <option value="short Term">short term (6mos-1yr)</option>
              <option value="temporary">temporary</option>
            </select>
          </div>
        </div>
        <div class="row cssForRow">
          <div class="col cssForCol form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" />
          </div>
          <div class="cssForCol col form-group">
            <label>pictures</label>
            <input style="display:block;
            margin: auto; color:white;" type="file" name="file-to-upload" class="fileChose" required>
          </div>
          
        </div>
        <div class="cssForRow row">
          <div class="cssForCol col form-group">
            <label>a little about your posting?</label>
            <input type="text" class="form-control" name="aboutPosting" />
          </div>
        </div>
        
        

            <button type="submit" class="btn btn-primary btn-lg">send</button>
          </form>
        
        
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACHO3kyJ5MrGqVxl-4stvK2NXQM6SJFyE&libraries=places"
    ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>

